 .navbar-default {
  background-color: #3E99FF;
  padding-top: 5px;
  padding-bottom: 5px;
  z-index: 1;
}

.navbar-default .navbar-nav > li > a {
  color:#dadada;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color:white ;
}

.panel {
  background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,0.07) 7%, rgba(204,228,255,1) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,0.07) 7%,rgba(204,228,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,0.07) 7%,rgba(204,228,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#cce4ff',GradientType=0 ); /* IE6-9 */
}
.panel-footer {
  background-color: white;
  padding-top: 20px;
}

.navbar-nav > li > a {
  padding-bottom: 10px;
}

.well {
  background-color: #f7f7f7;
  border: 1px solid #efefef;
}

.nav {
  > li {
    color: white;
    display: list-item;
    list-style-position: inside;

    > a {
      display: inline-block;
    }

    > a:hover,
    > a:focus {
      background-color: transparent;
      text-decoration: none;
      border: none;
    }

    > a.active {
      border-bottom: 3px solid white;
      font-weight: 500;
      padding-left : 3px;
      padding-right: 3px;
      margin-right: 12px;
      margin-left: 12px;
      color: white;
    }
  }
}