.home-header {
  background: #5fb3ff;
  margin-top:-20px;
}

.header-title {
  color:white;
  font-size: 32px;
  margin-top: 35%;
}

.header-decription {
  color:white;
  font-size: 16px;
}

.users-body {
  margin-left: 15%;
}

.users-row {
  margin: 20px;
}

.upload-link {
	font-size: 17px;
}

.file-row {
  font-size: 17px;
  cursor: pointer;
  padding-bottom: 50px;
}

.create-row {
  padding-bottom: 35px;
}

.file-icon {
  padding-right: 15px;
}