  body {
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
  }

  h3 {
    font-size: 19px;
  }
  li.help-category {
    border: 1px solid #ccc;
    width: 300px;
    margin: 3px;
    text-align: center;
  }

  li.help-category p {
    color: #777;
  }

  a.more-info {
    font-weight: bold;
  }

  .role-text {
    margin-left: 10%;
  }

  #help-categories {
    padding: 0;
    margin: 0;
    list-style: none;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    justify-content: center;
  }

  span.category-icon.glyphicon {
    width: 30px;
    margin: 0px 0 15px -20px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 50px;
    color: #0D204D;
  }