.register-form__header {
  padding: 25px 100px;
  background-color: white;
}

.register-form__footer {
  padding: 30px 100px;
  border-top: 1px solid #ddd;
}

.save-btn {
  background-color: #3E99FF;
  margin-left: 15px;
}