<div class="row">
<div class= "col-md-6"><img src="/assets/images/logo.png"> </div>
<div class= "col-md-5">
<p class="header-title">Naziv projekta</p><br>
{{#if session.isAuthenticated}}
  <h3> Welcome, {{ session.data.authenticated.korisnik.name }} {{ session.data.authenticated.korisnik.surname }}! </h3>
{{/if}}
<p class="header-decription">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p></div>
{{#if session.isAuthenticated}}
{{else}}
<div class= "col-md-5">{{#link-to 'register'}}<button type="button" class="btn btn-danger btn-md">REGISTER</button>{{/link-to}}</div>
{{/if}}
</div>
