<div class="container">
 <div class="panel panel-default">
  <div class="panel-body register-form__header">
    <h4>EDIT TEXT DOCUMENT</h4> </div>
    <form>
    <div class="panel-body register-form__footer">
      <div class="form-group col-md-8 input-group">
        {{input class="form-control" id="inputTitle" placeholder="Title" value=model.title}}
      </div>
      <div class="form-group col-md-8 input-group">
        {{textarea rows="25" class="form-control" id="inputBody" placeholder="Body" value=model.body}}
      </div>
    </div>
    </form>
    <div class="panel-footer clearfix">
        <div class="form-group col-md-offset-9">
          <button type="button" class="btn btn-default" {{action 'onCancel'}}>CANCEL</button>
          <button type="submit" class="btn btn-primary save-btn" {{action 'onNext'}}>SAVE</button>
        </div>
      </div>
  </div>
</div>
