 <div class="container">
   <div class="panel panel-default">
    <div class="panel-body register-form__header">
    <h4>CREATED FILES</h4> </div>
      <div class="panel-body register-form__footer">
       {{#each model.posts as |post|}}
       <div class="create-row">
        <div class= "row">
          <h4>{{post.title}}</h4>
          {{#link-to 'edit' post.id}}
          <img src="/assets/images/edit.png"> Edit
          {{/link-to}}
          <a href {{action  'onDelete' post}}  class="file-image">
            <img src = "/assets/images/delete.png" /> Delete</a>
          </div><br>
          <div class="col-md-12">{{post.body}}</div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>

   <div class="container">
   <div class="panel panel-default">
    <div class="panel-body register-form__header">
    <h4>UPLOADED FILES</h4> </div>
      <div class="panel-body register-form__footer">
       {{#each model.uploads as |post|}}
       <div class="file-row well">
          <div class="col-md-12" {{action "selectItem" post}}><img src="/assets/images/fileicon.png" class="file-icon"> {{post.name}}</div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>

  {{log model.uploads}}