<div class="container">
<h4 class="role-text"> Prijavljeni ste kao : {{session.data.authenticated.korisnik.role}} </h4>
<ul id="help-categories">
<li class="help-category">
{{#link-to 'profile'}}
  <h3 class="help-heading"><span class="category-icon glyphicon glyphicon-user"></span><br>Visit profile</h3>
  <div class="card">
      <p style="text-align: center;">Overview or edit your user profile informations<br/></p>
  </div>
  {{/link-to}}
</li>
<li class="help-category">
{{#link-to 'files'}}
  <h3 class="help-heading"><span class="category-icon glyphicon glyphicon-folder-open"></span><br>My Files</h3>
  <div class="card">
      <p style="text-align: center;">Browse trough all your uploads </p>
  </div>
  {{/link-to}}
</li>
<li class="help-category">
{{#link-to 'files'}}
  <h3 class="help-heading"><span class="category-icon glyphicon glyphicon-eye-open"></span><br>Files shared with me</h3>
  <div class="card">
      <p style="text-align: center;">
        See all files you have access to
      </p>
  </div>
  {{/link-to}}
</li>
<li class="help-category">
{{#link-to 'create'}}
  <h3 class="help-heading"><span class="category-icon glyphicon glyphicon-file"></span><br>Create new textual file</h3>

  <div class="card">
    <p style="text-align: center;">Create a new file and share it with others</p>
  </div>
  {{/link-to}}
</li>
<li class="help-category">
{{#link-to 'upload'}}
  <h3 class="help-heading"><span class="category-icon glyphicon glyphicon-upload"></span><br>Upload new file</h3>
  <div class="card">
    <p style="text-align: center;">Upload text, pdf or image file </p>
  </div>
  {{/link-to }}
</li>
<li class="help-category">
{{#link-to 'library'}}
  <h3 class="help-heading"><span class="category-icon glyphicon glyphicon-education"></span><br>Search files</h3>
  <div class="card">
    <p style="text-align: center;">Search trough public files</p>
  </div>
  {{/link-to}}
</li>
</ul>
</div>