{{outlet}}
<div class="container">
 <div class="panel panel-default">
  <div class="panel-body register-form__header">
    <h4>LOG IN </h4> </div>
    <form>
      <div class="panel-body register-form__footer">

        <div class="form-group col-md-8 input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          {{input type="email" placeholder="Email" class="form-control" id="inputEmail" value=model.email}}
        </div>
        <div class="form-group col-md-8 input-group">
          <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
          {{input type="password" class="form-control" id="InputPassword1" placeholder="Password" value=model.password}}
        </div>
        <button type="submit" class="btn btn-default" {{action 'onCancel'}}>Cancel</button>
        <button type="submit" class="btn btn-primary" {{action 'login'}}>LOG IN</button>
        <p style="color:red">{{errorMessage}}</p>
      </div>
    </form>
  </div>
</div>
