<div class="container text-center">
    <div class="col-lg-3 well">

      <div class="well">

        <h4>{{ session.data.authenticated.korisnik.name }} {{ session.data.authenticated.korisnik.surname }}</h4>
        <img src="http://enadcity.org/enadcity/wp-content/uploads/2017/02/profile-pictures.png"
             height="65" width="65" alt="Avatar">

        </div>
      <!-- o quadrado é o well-->
      <div class="well">

        <h4> Courses </h4>
        <p>
          <span class="label label-default"> Course 1 </span>
          <span class="label label-primary"> Course 2 </span>
          <span class="label label-success"> Course 3 </span>
          <span class="label label-warning"> Course 4 </span><br>
          <span class="label label-danger"> Course 5 </span>
        </p>
        </div>
      </div>
    <div class="col-lg-7 well ">
      <div class="row">
        <div class="col-lg-12 ">
           <div class="well">
          <p><strong> Name <br></strong>{{ session.data.authenticated.korisnik.name }}</p></div>
           <div class="well">
          <p><strong> Surname <br></strong> {{ session.data.authenticated.korisnik.surname }}</p></div>
            <div class="well">
          <p><strong> Email <br></strong> {{ session.data.authenticated.korisnik.email }}</p></div>

        </div>
      </div>
          <button type="button" class="btn btn-default btn-sm" {{action 'logout'}}>LOG OUT</button>
    </div>
</div>

{{log session.data.authenticated.korisnik}}