<div class="container">
 <div class="panel panel-default">
  <div class="panel-body register-form__header">
    <h4>CREATE ACCOUNT</h4> </div>
    <form>
    <div class="panel-body register-form__footer">
      <p>Enter following details to sign up:</p>
      <div class="form-group col-md-8 input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        {{input class="form-control" id="inputFirstName" placeholder="First Name" value=model.name}}
      </div>
      <div class="form-group col-md-8 input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
        {{input class="form-control" id="inputLastName" placeholder="Last Name" value=model.surname}}
      </div>
      <div class="form-group col-md-8 input-group">
        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
        {{input class="form-control" id="inputEmail" placeholder="Email" value=model.email}}
      </div>
      <div class="form-group col-md-8 input-group">
      <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
        {{input class="form-control" type="password" id="inputPassword" placeholder="Password" value=model.password}}
      </div>
    </div>
    </form>
    <div class="panel-footer clearfix">
        <div class="form-group col-md-offset-9">
          <button type="button" class="btn btn-default" {{action 'onCancel'}}>CANCEL</button>
          <button type="submit" class="btn btn-primary save-btn" {{action 'onNext'}}>SAVE</button>
        </div>
      </div>
  </div>
</div>
