<div class="container">
 <div class="panel panel-default">
  <div class="panel-body register-form__header">
    <h4>UPLOAD FILE</h4> </div>

    <div class="panel-body register-form__footer">
       {{#file-upload name="photos"
                           multiple=true
                           onfileadd=(action "uploadFile")}}
       <a class='upload-link' id="upload-image" tabindex=0> <img src = "/assets/images/cloud-computing.png" />  Add a File</a>

      {{/file-upload}}

    </div>
</div>
</div>

