 <div class="panel panel-body">
  <div class="col-md-12 users-body">
    {{#each model as |user|}}
    <div class="users-row">
      <h4> Name : {{user.name}} {{user.surname}} </h4>
      Email: {{user.email}} <br>
    </div>
    {{/each}}
  </div>
 </div>
