<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-8">
      <ul class="nav navbar-nav">
        <li>{{#link-to 'home'}}<img src="/assets/images/home.png" class="nav-image"> HOME{{/link-to}}</li>
        <li>{{#link-to 'library'}}<img src="/assets/images/library.png" class="nav-image">  DASHBOARD{{/link-to}}</li>
        <li>{{#link-to 'create'}}<img src="/assets/images/plus.png" class="nav-image">  CREATE{{/link-to}}</li>
        <li>{{#link-to 'upload'}}<img src="/assets/images/upload.png" class="nav-image">  UPLOAD{{/link-to}}</li>
      </ul>
      <ul class = "nav navbar-nav navbar-right">
        <li>
        {{#if session.isAuthenticated}}
          <i class="glyphicon glyphicon-user"></i>
          {{#link-to 'profile'}}{{ session.data.authenticated.korisnik.name }} {{ session.data.authenticated.korisnik.surname }} {{/link-to}}
          <button type="button" class="btn btn-default btn-sm" {{action 'logout'}}>LOG OUT</button>
        {{else}}
            {{#link-to 'login'}} LOG IN {{/link-to}}
              <i class="glyphicon glyphicon-user red" ></i>
        {{/if}}
      </li>
    </ul>
    </div>
  </div>
</nav>
